body{
    background-color: rgb(255, 161, 161);

}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: white;
}
#sketch_name{
    color: rgb(0, 0, 73);
}
#show_sketch{
    color: rgba(255, 0, 85, 0.557);
    float: right;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
box-shadow: 5px 5px 5px white;
animation-name: Example;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes Example{
    from{box-shadow: 1px 1px 38px white;}
    to{box-shadow: 1px 1px 38px rgb(0, 0, 0);}
}
p,span{
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;

}
#score{
    font-size: 35px;
    margin-left: 20px;
}
#time{
    font-size: 35px;
    margin-right: 20px;
float: right;
}